 .u-section-1 {
  background-image: url("images/14672602-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 985px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 681px;
  font-size: 2.25rem;
  margin: 54px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 11px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 26px 82px 26px 81px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 28px auto 0;
  padding: 26px 69px 26px 68px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 17px auto 0;
  padding: 26px 93px 26px 92px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 6px auto 0 126px;
  padding: 26px 52px 26px 51px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 26px 67px 26px 66px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 0 auto;
  padding: 26px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 167px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 26px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.5rem;
  }
}